*{
    box-sizing: border-box;
    border:0;
    padding:0;
    letter-spacing: 1px;
    
}
:root{
    --primary-background-color:rgb(209 213 219);
}
body{
    background-color: var(--primary-background-color)

}
.home-page{
   
}
.left-side{
    width:40%;
    padding:5rem;
}
.right-side{
   min-width: 50%;
    justify-content: center;
}
.home-page-card{
    display: flex;
    flex-direction:row;
    min-width:80%;
    position:relative;
    left:5rem;
    top:12rem;

}
.get-started{
    /* padding:10px; */
    border:1px solid black;
}
/* css for form */

.main{
	width: 350px;
	height: 500px;
	/* background: red; */
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    position: relative;
    left: 17rem;
    top:3.5rem;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.home-page{
    display: flex;
    flex-direction: column;
}
.img-logo{
    max-height: 80px;
    max-width:300px;
}
/* .top-bar{
    width:100%;
    display:block;
    align-items: center;
    
} */
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}
/* navbar css */
.left-navbar{
display:flex;
flex-direction: column;
position: relative;
left:0rem;
width: 10%;
background-color: red;
margin-top:0.5rem;
padding:1rem;

}
.home-nav{
    font-weight: 900;
    color:black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:30px;


}
.home-icon{
    color:green;
    text-align:center;
    position: relative;
    left:10px;
}
.top-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    min-height: 100px;;
    text-align: center;
}
 input[class="input-search"]{
    padding:10px;
    border:none;
    border-bottom:1px solid black;
    width: 88%;
    height: 40px;
    /* background: #e0dede; */
    /* justify-content: center; */
    /* display: flex; */
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    transition-duration: 1.5s;

    /* font-size: 1.5em;
  border-radius: 2em;
  border: none;
  color: white;
  width: 90%;
  transition-duration: 0.5s;
  padding:10px; */
    
    /* border-radius: 5px; */
}
input[class="input-search"]:hover,input[class="input-search"]:focus{
    width: 91%;
}
    /*
width: calc(90vw - 2em);
  color: rgb(0, 51, 255);
  border-radius: 0.2em;
  transition-duration: 1s;
  padding: 0 2em 0 0;
} */
.fa-user-top{
    position: relative;
    left:1rem;
    top:1.5rem;
    font-size: 25px;
    color:aliceblue;
    border-radius:60%;
    background-color: inherit;
    width:35px;
    height: 35px;
    text-align: center;
    border:1px solid aliceblue;
    padding:2px;
}
.fa-facebook-messenger{
    position: relative;
    right: 1rem;
    top: 1.5rem;
    font-size: 30px;
    color:aliceblue;

}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0.5rem;
    width:100%;
    height: 80px;
    /* background-color: black; */
    margin-top:10px;
    border-bottom:0.8px solid white;
    
}
.tablink{
    width:33%;
    background-color: var(--primary-background-color);
    transition:0.8s;
    margin:auto;
    padding:1rem;

}
.tablink:hover{
    /* background-color: aliceblue; */
    color:white;
    border-radius:5px;

}
.fa-solid-t{
    font-size:25px;
    color:black;

}
.fa-solid-t:hover{
    /* color:white; */
}
/* 
post section */
.post-section{
    border-bottom:0.8px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:1rem;
}
input[class="post-box"]{
    width: 90%;
    border:1px solid black;
    padding:3rem;
    background-color: aliceblue;
    border-radius:200px;
    transition: 1.3s;
}
input[class="post-box"]:hover{
    /* width: 90%; */
    border-color: #573b8a;
    background-color: palegoldenrod;
    /* padding:4rem; */

}

.fa-user-post{
    position: relative;
    left:1rem;
    top:2.8rem;
    font-size: 25px;
    color:black;
    border-radius:60%;
    background-color: inherit;
    width:35px;
    height: 35px;
    text-align: center;
    border:1px solid aliceblue;
    padding:2px;
}
.fa-solid-post{
    position: relative;
    right:1rem;
    top:2.8rem;
    font-size: 25px;
    color:black;
    background-color: inherit;
    
    text-align: center;
    padding:2px;
}
.non-post{
    position:sticky;
    display: flex;
    flex-direction: column;
    z-index:4;

}

/*  */
.posts{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.post-item{
    display:flex;
    flex-direction:column;
    width:30%;
    z-index:-1;
    position: relative;
    /* justify-content: center; */
        margin:auto;
    /* padding:10px; */
    background-color: white;
    border-radius: 20px;
    padding-top:10px;
    padding-bottom:10px;
}
.post-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:10px;
    /* background-color: red; */
    padding:5px;
}
img[class="profile-logo-img"]{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color:green;
}
.profile-name{
    text-align:center;
    padding-top:2px;
    padding-left:10px;
    color:black;
    font-weight: 700;
    font-size:1.5rem;
}
p[class="update-date"]{
    font-size:0.5rem;
    font-weight: 300;
    text-align: start;
    
}


.post-middile-section{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom:5px;
    /* background-color:green; */
}
.post-text-content{
    color:black;
    font-weight: 500;
    font-size:1rem;
    text-align: left;
    padding-left:5px;
}
img[class="post-image-at-time"]{
    width: 100%;
    overflow: hidden;
    height:100;
}


.post-bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color:blue; */
    padding-top:5px;
    gap:10rem;
}


.fa-solid-bottom{
    color:black;
    font-size:23px;
}
